/* 
@font-face {
    font-family: 'Racing Sans One', serif;
    src: url(fonts/RacingSansOne-Regular.ttf);
 }

 body {

    font-family: 'Racing Sans One', serif;
 }

:root {
    --pink: #F3E1D7;
    --white: #ffffff; 
  }

  .rosado{
    background-color: var(--pink);
  }

  .fuente{
    font-family: 'Racing Sans One', serif;
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   font-family: 'Racing Sans One', serif;
}
 */
 :root {
    --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
    --gray: #34495e;
    --darkgray: #2c3e50;
    --primary: #008566;
  }

 .container-fluid.header {
    background: var(--primary);

}
ul.idioma li {
    border: 1px solid #ffffff;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
ul.idioma {
    list-style: none;
}
ul.idioma li a {
    color: #fff;
    font-size: 1rem;
}
ul.eng li {
    border: 1px solid #ffffff;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
ul.eng {
    list-style: none;
}
ul.eng li a {
    color: #fff;
    font-size: 1rem;
}
ul.eng li {
    width: 100%;
}
ul.eng {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    /* background: red; */
    position: relative;
    vertical-align: middle;
}
ul.menu li {
    list-style: none;
    display: inline-block;
}
ul.menu li a {
   color: #fff;
   text-decoration: none;
   display: inline-block;
}

ul.social li {
    list-style: none;
    display: inline-block;
}

ul.social li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
 }
 img.logo {
    float: right;
}
ul.menu li {
    padding: 10px 12px;
}
ul.social li {
    padding: 5px;
}
.hidden{
    display: none !important;
}
#mobile{
    display: none;
}
/* Responsive */


/* Slider */
section.slider {
    height: 470px;
    background: black;
}


/* Portada */
.portada {
    width: 100%;
    height: 600px;
    background: rgb(0, 0, 0);
    overflow: hidden;
}
div#layerUp {
    width: 100%;
    background: rgb(0 0 0 / 44%);
    height: 600px;
    position: absolute;
    z-index: 1;
}

div#layerUp h1 {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 3.4em;
    color: #fff;
    text-transform: uppercase;
}
div#layerUp p {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 3em;
}
.layerUp {
    width: 70%;
    height: 100px;
    margin: 0 auto;
  /*   background: beige; */
}

.layerDown {
    width: 30%;
    background: #fff;
    height: 100px;
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.month, .year, .search {
    width: 30%;
    background: #fff;
    height: 100%;
}
.mup {
    width: 100%;
    height: 30px;
  /*   background: green; */
    display: flex;
    align-items: center;
    justify-content:center;
}
.mup span {
   text-align: center;
   font-weight: bold;
   color: #008566;
   display: block;
}
.mdown{
  display: flex;
    align-items: center;
    justify-content:center;
}

.yup{
  width: 100%;
    height: 30px;
   /*  background: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.yup span {
   text-align: center;
   font-weight: bold;
   color: #008566;
   display: block;
}
input#btnSearch {
    width: 70%;
    height: 35px;
    background: blue;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    display: flex;
    /* width: 100%; */
    height: 3em;
    border-radius: 0.25em;
    overflow: hidden;
    background: var(--primary);
}
/* select */

.optMonth {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--primary);
    background-image: none;
    cursor: pointer;
  }
  /* Remove IE arrow */
  .optMonth::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .mdown {
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    border-radius: 0.25em;
    overflow: hidden;
    background: var(--primary);
}
  /* Arrow */

  .mdown::after {
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #ff9800;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .mdown:hover::after {
    color: #ffffff;
  }
  
/*   select 2 */

.optYear {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--primary);
    background-image: none;
    cursor: pointer;
  }
  /* Remove IE arrow */
  .optYear::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .ydown {
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    border-radius: 0.25em;
    overflow: hidden;
    background: var(--primary);
}
  /* Arrow */

  .ydown::after {
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #ff9800;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .ydown:hover::after {
    color: #ffffff;
  }

.search {
    display: flex;
    justify-content: center;
    align-items: center;

}
.month {
    padding-left: 4%;
}
/* /Portada */

/* section */
.staticData {
    padding: 32px 20% 32px 20%;
}
.staticDataHome {
    padding: 32px 20% 32px 20%;
}
.staticData h1{
    text-align: center;
    font-weight: bold;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-style: italic;
}
.staticData p{
    text-align: justify;
    line-height: 30px;
    font-size: 1.1rem;
}
.staticDataHome h1{
    text-align: center;
    font-weight: bold;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-style: italic;
}
.staticDataHome p{
    text-align: justify;
    line-height: 30px;
    font-size: 1.1rem;
}
/* /section */
/* section2 */
.callToAction{
    background: #008566;
    padding: 32px 16% 32px 16%;
}
.callToAction h2{
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   font-size: 3rem;
}
/* /section2 */
/* section3 */
section.callToAction3 {
    padding: 32px 16% 32px 16%;
    height: 550px;
    background: url(../img/banner1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.callToAction4 h3 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 30px 15px;
    font-weight: bold;
    font-style: italic;
}
section.callToAction3 h3 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

/* /section3 */

.divImageText1 {
    display: flex;
    justify-content: flex-start;
}

.dIleft {
    width: 120px;
    height: 120px;
    /* background: blue; */
}

.divImageText2 {
    display: flex;
    justify-content: space-between;
}

.dI2left {
    width: 50%;
    height: 180px;
   /*  background: green; */
}
.dI2right {
    width: 30%;
    height: 150px;
  /*   background: peru; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#btnSearch2{
        width: 70%;
        height: 35px;
        background: #008566;
        border: none;
        border-radius: 6px;
        color: white;
        font-weight: bold;
        cursor: pointer;
}
.dI2left p {
    text-align: justify;
    color: #ffffff;
    text-transform: uppercase;
}
.title2 {
    text-align: center;
    font-weight: bold;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 3%;
}
.espacio{
    padding-top: 50px;
}
.espacio-25{
    padding-top: 25px;
}

.act_box {
    width: 32%;
    background: #ffc107;
    height: 32%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.imgBox img {
    width: 100%;
    height: 100%;
}
.act_box .titulo {
    position: absolute;
    padding-top: 16%;
    /* text-align: center; */
    color: white;
    text-transform: uppercase;
}
.activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 70%;
}
.rbox {
    width: 600px;
    height: 500px;
    background: #008566;
    margin: 20px 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.text p {
    color: #fff;
}
.rbLeft {
   /*  background: green; */
    height: 337px;
    width: 220px;
}
.rbRight {
    width: 320px;
    height: 400px;
    /* background: blue; */
}
.rbLeft span {
    display: block;
    color: white;
    text-align: center;
}
i#c_btn1, i#c_btn2 {
    cursor: pointer;
}
/* footer */
/* footer */

footer {
    background: #00624B;
    
}

.box1 span {
    display: block;
  
    font-size: 0.8rem;
    color: #ffffff;
}
ul.linksCont li a:nth-child(1):before {
    content: "\f015";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    color: #FFBE02;
    font-size: 1.7rem;
}
body > footer > div.contenedor1 > div:nth-child(3) > ul > li:nth-child(2) a:before{
    content: "\f232";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}
body > footer > div.contenedor1 > div:nth-child(3) > ul > li:nth-child(3) a:before{
    content: "\f232";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}
body > footer > div.contenedor1 > div:nth-child(3) > ul > li:nth-child(4) a:before{
    content: "\f003";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}
body > footer > div.contenedor1 > div:nth-child(1) {
    margin-top: 91px;
    border-right: 1px solid #fff;
    margin-top: 40px;
    padding-top: 32px;
    margin-bottom: 40px;
    padding-right: 24px;
}
.contenedor1 {
    width: 1200px;
    height: 300px;
    
    margin: 0 auto;
    display: flex;
    padding-top: 24px;
    justify-content: space-around;
    /* font-size: 2rem; */
}
/* body > footer > div.contenedor1 > div:nth-child(1) {
    margin-top: 91px;
} */
body > footer > div.contenedor1 > div:nth-child(1) {
    margin-top: 0px;
}
ul.links li {
    text-decoration: none;
    color: #fff;
    list-style: none;
}
ul.links li a {
    color: #fff;
    font-size: 1.1rem;
    line-height: 29px;
    text-decoration: none;
}
ul.linksCont li {
    text-decoration: none;
    color: #fff;
    list-style: none;
}
ul.linksCont li a {
    color: #fff;
    font-size: 1rem;
    line-height: 29px;
    text-decoration: none;
}
ul.linksocial {
    padding-top: 32px;
}
ul.linksocial li, ul.linksocial2 li, ul.linksocial3 li  {
    text-decoration: none;
    color: #fff;
    list-style: none;
    display: inline-block;
}
ul.linksocial li a {
    color: #FFBE02;
    font-size: 1.5rem;
    line-height: 29px;
    padding: 8px;
    font-size:1.7em;
}
ul.linksocial2 li a {
    color: #FFBE02;
    font-size: 1.5rem;
    line-height: 29px;
    padding: 8px;
    font-size:1.1em;
}
ul.linksocial3 li a {
    color: #FFBE02;
    font-size: 1.5rem;
    line-height: 29px;
    padding: 8px;
    font-size:1.1em;
}
ul.linksocial3 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.contenedor2 {
    width: 1200px;
    height: 50px;
   
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.copyr a {
    color: #a2a2a2;
}
.box1 h3 {
    color: #fff;
    font-size: 1.7rem;
}
.copyr a {
    color: #a2a2a2;
    text-decoration: none;
}
.compa span {
    color: #ffffff;
}
/* /footer */
.rbLeft img {
    text-align: center;
    display: block;
    margin: 0 auto;
}
.box1 img {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
}
/* Reviews */
span#img2 img {
    display: block;
    border-radius: 50%;
    height: 174px;
}
section#departureList1 img {
    height: 400px;
}


/* departure reserve form */
.fullwidth{
    width: 100% !important;
}
/* /departure reserve form */

.bordeCabina {
    border: 1px solid #eaeaea;
    padding: 10px 15px;
    border-radius: 8px;
}
.btnStyle {
    width: 100% !important;
}
.dI2left p {
    color: transparent;
}
/* #btnSearch2{
    display: none;
}
 */

/* Detalle Pagina */
section.banner {
    background: url(../img/slide1.jpg);
    height: 300px;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000d9;
}
.capa {
    width: 100%;
    height: 100%;
    background: #00000075;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bannerTit{
    font-weight:bold;
    color: white;
    text-align: center;
    }
    .callToActiond h2{
        color: #fff;
        text-transform: uppercase;
        text-align: center;
 
     }
legend {
    color: red;
    padding: 0px 0px 8px 0px;
}
.tit{
    font-size: 2rem;
    color: var(--primary);
    font-weight: bold;
}

     /* Contacto */
     .frmInputCont {
        width: 100%;
        font-size: .8rem;
    }.required{
        color: red;
    }
    textarea {
        width: 100%;
        
        padding: 3px 7px;
        border-radius: 8px;
    }
    input[type="text"], input[type="email"] {
        width: 100%;
        border: 1px solid #666;
        border-radius: 8px;
        padding: 4px 8px;
    }
    ul.linksocialc {
        padding-top: 24px;
        margin: 0;
        padding-left: 0px;
    }
    ul.linksocialc li i {
        color: black;
        text-align: left !important;
    }

    #desktop > div > div.col-md-9 > nav > ul > li:nth-child(6) {
        padding-right: 0;
    }
    .staticData {
        padding: 0 !important;
      }
      .containerSer {
        border: 1px solid #8bc34a;
        border-radius: 8px;
        padding: 10px;
        margin: 4px;
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    article.col-md-3.sProduct h3 {
        font-size: 1.2rem;
        text-align: center;
        color: green;
    }
article.col-md-3.sProduct img {
          display: block;
          margin: 0 auto;
}
/* Detalle Pagina */
section.banner {
    background: url(../img/slide1.jpg);
    height: 300px;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000d9;
}
.capa {
    width: 100%;
    height: 100%;
    background: #00000075;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bannerTit{
    font-weight:bold;
    color: white;
    text-align: center;
    }
    .callToActiond h2{
        color: #fff;
        text-transform: uppercase;
        text-align: center;
 
     }
     body > footer > div.contenedor1 > div:nth-child(1) {
        margin-top: 0px;
    }
    ul.links li {
        text-decoration: none;
        color: #fff;
        list-style: none;
    }
    ul.links li a {
        color: #fff;
        font-size: 1.1rem;
        line-height: 29px;
        text-decoration: none;
    }
    ul.linksCont li {
        text-decoration: none;
        color: #fff;
        list-style: none;
    }
    ul.linksCont li a {
        color: #fff;
        font-size: 1rem;
        line-height: 29px;
        text-decoration: none;
    }
    ul.linksocial {
        padding-top: 32px;
    }
    ul.linksocial li, ul.linksocial2 li, ul.linksocial3 li  {
        text-decoration: none;
        color: #fff;
        list-style: none;
        display: inline-block;
    }
    ul.linksocialc li, ul.linksocial2 li, ul.linksocial3 li  {
        text-decoration: none;
        color: #fff;
        list-style: none;
        display: inline-block;
    }
    body > footer > div.contenedor1 > div:nth-child(4) > ul > li:nth-child(4) > a {
        display: flex;
    }
    ul.linksocial li a {
        color: #FFBE02;
        font-size: 1.5rem;
        line-height: 29px;
        padding: 8px;
        font-size:1.3em;
    }
    ul.linksocialc li a {
        color: #FFBE02;
        font-size: 1.5rem;
        line-height: 29px;
        padding: 8px;
        font-size:1.3em;
    }
    ul.linksocial2 li a {
        color: #FFBE02;
        font-size: 1.5rem;
        line-height: 29px;
        padding: 8px;
        font-size:1.1em;
    }
    ul.linksocial3 li a {
        color: #FFBE02;
        font-size: 1.5rem;
        line-height: 29px;
        padding: 8px;
        font-size:1.1em;
    }
    ul.linksocial3 {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    
     /* Contacto */
     .frmInputCont {
        width: 100%;
        font-size: .8rem;
    }.required{
        color: red;
    }
    textarea {
        width: 100%;
        
        padding: 3px 7px;
        border-radius: 8px;
    }
    input[type="text"], input[type="email"] {
        width: 100%;
        border: 1px solid #666;
        border-radius: 8px;
        padding: 4px 8px;
    }
    ul.linksocialc {
        padding-top: 24px;
        margin: 0;
        padding-left: 0px;
    }
    ul.linksocialc li i {
        color: black;
        text-align: left !important;
    }

    #desktop > div > div.col-md-9 > nav > ul > li:nth-child(6) {
        padding-right: 0;
    }

    .container-fluid ul li a {
        /* color: white; */
        text-decoration: none;
        font-weight: 500;
        padding: 0px 8px 0px 0px;
        text-transform: uppercase;
    }
    img.logo {
        height: 112px;
    }
    li.active {
        padding: 0px 0px 0px 8px;
    }
    .precio.precio_detalle {
        text-align: left;
    }
    .containerSer {
        border: 1px solid #8bc34a;
        border-radius: 8px;
        padding: 17px;
        margin: 8px !important;
        width: 100%;
        display: block;
        margin: 0 auto;
    }
      article.col-md-3.sProduct h3 {
          font-size: 1.2rem;
          text-align: center;
          color: green;
      }
      article.col-md-3.sProduct img {
          display: block;
          margin: 0 auto;
      }
      .btnCenter {
        text-align: center !important;
        display: block;
        margin: 5% auto;
        width: 80%;
        padding: 10px 15px;
    }
     .detalle {
        width: 100%;
        /* background: peru; */
        padding: 10px 0px 1px 5%;
    }
    .staticData h1, .staticData h2 {
        text-align: center;
        font-weight: bold;
        font-size: 2.8rem;
        text-transform: uppercase;
        font-style: italic;
    }
    .staticDataHome h1, .staticDataHome h2 {
        text-align: center;
        font-weight: bold;
        font-size: 2.8rem;
        text-transform: uppercase;
        font-style: italic;
    }

    .titulo h4 {
        text-shadow: 2px 2px black;
    }
    /*Pagina Seleccione */
    .capaSeleccione h1 {
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        font-style: italic;
        font-weight: bold;
        color: var(--primary);
    }
    .availability-breadcrumb li:before {
     
        display: inline-block;
        margin-right: 8px;
        content: "\25CF";
        font-family: FontAwesome;
        color: var(--primary);
        font-size: 1.3rem;
    }
    ul.availability-breadcrumb {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    ul.availability-breadcrumb li {
        display: inline-block;
    }
    .availability-breadcrumb li {
        color: #b3b3b3;
        vertical-align: middle;
        margin-right: 10px;
        font-size: 14px;
    }
    li.line::before {
        content: none;
    }
    .availability-breadcrumb li.line {
        width: 70px;
        height: 1px;
        background: #b3b3b3;
        margin-right: -16px;
    }
    .availability-breadcrumb li.active {
        color: #6a8b2d;
        color: #3b3b3b;
        font-weight: 600;
    }
    .container-fluid.barraSeleccione {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .col-md-6.divProgL img {
        width: 80%;
        height: 390px;
    }
    .col-md-6.divProgR h3 {
        color: var(--primary);
        font-size: 1.3rem;
        vertical-align: top;
    }
    .col-md-6.divProgR h2 {
        font-size: 1.4rem;
    }
    label.divRad {
        width: 90%;
        border: 1px solid #8b8b8b;
        border-radius: 4px;
        padding: 6px;
    }
    .dBck a{
        color: var(--primary);
        text-decoration: none;
    }
    .dProg {
        color: var(--primary);
    
        font-weight: bold;
    }
    body > div:nth-child(7) > div > div.col-md-6 > div > div:nth-child(1) {
        display: flex;
        justify-content: end;
    }
    .habCont{
        padding: 0;
        margin: 0;
border: 1px solid #B1B1B1;
filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
border-radius: 8px;
margin-bottom: 24px;
    }
    .bodRDown {
        display: flex;
    }
    .tit h2 {
        color: var(--primary);
        font-size: 1.7rem;
        padding-top: 7px;
    }
    .bodLPrice{
        color: var(--primary);
        font-size: .9rem;
        font-weight: 600;
    }
    .bodLCab {
        margin-top: 10%;
    }
    .habDis {
        margin-top: 16px;
        font-size: .8rem;
        display: block;
    }
    .bodR {
        display: flex;
        flex-wrap: wrap;
    }
    input.inpCal {
        text-align: center;
        font-size: 1.5rem;
        border: none;
    }
    .btnCalc {
        background: #4caf50;
        border: none;
        border-radius: 3px;
        color: white;
        font-weight: bold;
    }
    .habContL img {
        width: 100%;
    }
    .prTot .priceReservation {
        color: var(--primary);
    }
    .prTot {
        color: red;
        font-weight: bold;
    }
    .btn1Center {
        display: flex;
        justify-content: center;
    }
    .habitacion.disabled {
        opacity: 0.2;
    }



@media only screen and (max-width: 768px) {

    .idioma{
        display: none;
    }
    #mobile{
        display: inline-block;
    }
    /* body {
      background-color: lightblue;
    } */
    img.logo {
        float: none;
    }
    ul.social li {
        padding: 2px;
    }
    #desktop{
        display: none;
    }

    /* #menu */
    div#mobile {
        padding: 0 !important;
    }
    ul {
        padding: 0;
    }
    .header-mb {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    img.logo-mb {
        height: 56px;
    }
    .body-mb ul li {
        list-style: none;
    }
    .body-mb ul li a {
        
        color: #fff;
        text-decoration: none;
        display: inline-block;
    }
    ul li {
        padding-left: 24px;
    }
    /* li.active {
        background: black;
    } */
    .bi-list::before {
        content: "\f479";
        color: white;
    }
    .bi-x::before {
        content: "\f62a";
        color: white;
    }

    /* portada */
    div#layerUp h1 {
        text-align: center;
        font-size: 2.6rem;
        margin-top: 5rem;
    }
    div#layerUp p {
      text-align: center;
      font-size: 2.4rem;
      margin-top: 2em;
    }
    .layerDown {
      width: 40%;
    }
    .layerDown {
      width: 80%;
  }
    div#layerUp h1 {
      font-size: 2rem;
    }
    /* /portada */
    

     /* footer */
     .contenedor1 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
        padding-top: 0 !important;
        justify-content: none;
        font-size: 2rem;
        padding-left: 32px;
    }
    .contenedor2 {
        width: 100%;
        display: block;
    }
    .act_box {
        width: 320px;
    }
    .rbox {
        width: 60%;
    }
    .rbox {
        display: block;
    }

    .staticData {
        background: #fff;
    }
    .callToAction h2 {
        font-size: 1rem;
    }

    .divImageText1 {
        display: none;
    }
    .divImageText2 {
        display: block;
    }
    .dI2left {
        width: 100%;
    }
    #btnSearch2 {
        width: 100%;
    }
    section#ourActivities {
        background: #fff;
    }
    /* Reviews */
    section.reviews {
        background: #fff;
    }
    .rbLeft {
        height: auto;
    }
    .rbRight {
        width: auto;
        height: auto;
    }
    .rbox {
        width: 90%;
        margin: 0 auto;
    }
    .rbLeft {
        height: auto;
        display: block;
        margin: 0 auto;
        margin-bottom: 8px;
    }
    i#hamburguer {
        font-size: 2rem;
    }
    i#close {
        font-size: 2rem;
    }
    ul.linksocial2 {
        text-align: center;
    }
    header {
        height: 56px;
    }
    div#mobile {
        background: #008566;
        z-index: 2;
        position: relative;
    }
    div#layerUp h1 {
        margin-top: 1rem;
        font-size: 1.2rem !important;
    }


    .availability-breadcrumb li {

        margin-right: 10px;
        font-size: 12px;
    }
    .availability-breadcrumb li.line {
        width: 16px;
        margin-right: -15px;
    }
    .availability-breadcrumb li.active {
    
        padding: 0;
        margin: 0;
    }
    
    .availability-breadcrumb li:before {
    
        margin: 0;
    }
    .availability-breadcrumb li.line {
        width: 6px;
        margin-right: 0;
    }
    
    .availability-breadcrumb li.active {
    
        font-weight: 400;
        padding: 0 !important;
        margin: 0 !important;
    }
    ul.availability-breadcrumb li {
        padding: 0;
        margin: 0;
        font-size: 9px;
    }
    .col-md-6.divProgL img {
        margin: 0 auto;
        display: block;
        height: auto !important;
        width: 50%;
    }
    .col-md-6.divProgR h3 {
        text-align: center;
        margin-top: 8px;
        font-size: 1rem;
    }
    .col-md-6.divProgR h2 {
        text-align: center;
        font-size: 1rem;
    }
    .col-md-3.divBox {
        margin-bottom: 2%;
    }
    .habContL img {
        width: 30%;
        margin: 0 auto;
        display: block;
    }

    .bodR {
        align-items: center;
        justify-content: center;
    }


}

@media only screen and (max-width: 425px) {
    /* body {
      background-color: rgb(70, 154, 31);
    } */
    /* portada */
    .layerUp {
        width: 90%;
    }
    div#layerUp h1 {
      font-size: 1.5rem;
    }
    /* /portada */

    ul.linksocial li a {
        font-size: 1.1em;
    }
    div#layerUp {
        height: 230px;
    }
    .portada {
        height: 230px;
    }
}